<%= form_with(model: landingpage, local: true) do |form| %>
  <% if landingpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landingpage.errors.count, "error") %> prohibited this landingpage from being saved:</h2>

      <ul>
      <% landingpage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.number_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
